* {
  font-weight: 400
}

a {
  color: #1a2638;
  text-decoration: none
}

body {
  background-color: #6082b6;
  color: #1a2638;
  font-family: 'Cantarell', sans-serif;
  margin: 0;
  padding: 5px
}

hr {
  border-color: #6082b6;
  border-width: 5px
}

img {
  height: auto;
  vertical-align: middle;
  width: 100%
}

li {
  list-style-type: none
}

nav a {
  color: #e6ecf4
}

nav li {
  display: inline
}

nav li a {
  background-color: #6082b6;
  margin: 15px 0 15px 5px;
  padding: 15px
}

nav li a:hover,
.current {
  background-color: #1a2638
}

ul {
  padding: 0
}

.brand {
  max-width: 256px
}

.container {
  background-color: #e6ecf4
}

.footer h6 {
  margin: 0;
  padding: 5px
}

.row {
  padding: 0 15px
}

@media (min-width: 768px) {
  .container {
    width: 750px
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px
  }
}

@media (max-width: 992px) {
  nav li a {
    display: block;
    margin: 15px 0
  }
}
